body{
	margin: 0px;
	padding: 20px;
}

.cal_div{
	width: 40%;
	margin: auto;
	text-align: center;
	background-color: #eee;
	box-sizing: border-box;
	border: 2px solid black;
	box-shadow: 5px 5px 15px black;
	padding: 20px;
	}

.cal_div #result{
	width: 80%;
	margin: 30px auto;
	padding: 10px;
	text-align: right;
	font-size: 20px;
	}

.cal_div #result.focussed{
	border: 2px solid #1594e5;
	box-shadow: 2px 2px 2px #8accf4;
	}
.cal_div #clear, #bckspace{
	display:inline-block;
	width: 30%;
	margin:0px 10px 20px 10px;
	padding: 5px;
	box-shadow: 2px 2px 2px black;
	}
.cal_div #nums input{
	width: 20%;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	font-size: 20px;
	box-shadow: 2px 2px 2px black;
}
.cal_div #nums #equals{
	width: 44%;
	margin:5px;
	background-color: #e6e6e6;
}